body {
    background-image: url("https://i.pinimg.com/originals/db/3b/47/db3b47abab33b20f509f9d181ed66541.png");
    font-family: Arial Black;     
  }
  
  a {
    color: red;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;   
  }
  .menu li {
    list-style: none;
  }
  
  .site-title {
    text-align: center;
   }
  
  .site-subtitle {
    text-align: center;
  }
  
  